.button {
  font: inherit;
  border: 1px solid #630f51;
  background: #630f51;
  color: white;
  padding: 0.35rem 0.6rem;
  cursor: pointer;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.button:hover,
.button:active {
  background: #9c2883;
  border-color: #9c2883;
}

.button:focus {
  outline: none;
}
